<html lang="en" dir="ltr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/basic-layout}">
<head>
    <title>Bienvenido/a</title>
    
</head>

<body>
<th:block layout:fragment="content">
    <div class="container-fluid">

        <div class="header">
            <h1 class="header-title">
                Bienvenido, [[${#authentication.getPrincipal().getNombreCompleto()}]]
            </h1>
            <p class="header-subtitle" >
            	<script type="text/javascript">
	            	var currLang = /*[[${#locale.language}]]*/'ES';
	             	const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
	             	document.write(new Date(Date.now()).toLocaleString(currLang, options));
            	</script>
            </p>
        </div>
        
	   	<th:block >
	        <div class="row">
	            <div class="col-xl-12 col-xxl-12 d-flex">
	                <div class="w-100">
	                    <div class="row">
	                        <div class="col-sm-4">
	                            <div class="card">
	                                <div class="card-body">
	                                    <div class="row">
	                                        <div class="col mt-0">
	                                            <h5 class="card-title">Tareas en Estado <b>"Creada"</b></h5>
	                                        </div>
	
	                                        <div class="col-auto">
	                                            <div class="avatar">
	                                                <div class="avatar-title rounded-circle bg-primary-dark">
	                                                    <i class="fas fa-check-square"></i>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <h1 class="display-5 mt-1 mb-3" th:text="${countTareasCreadas}"></h1>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="card">
	                                <div class="card-body">
	                                    <div class="row">
	                                        <div class="col mt-0">
	                                            <h5 class="card-title">Tareas en Estado <b>"Iniciada"</b></h5>
	                                        </div>
	
	                                        <div class="col-auto">
	                                            <div class="avatar">
	                                                <div class="avatar-title rounded-circle bg-primary-dark">
	                                                    <i class="align-middle" data-feather="play"></i>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <h1 class="display-5 mt-1 mb-3" th:text="${countTareasIniciadas}"></h1>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-sm-4">
	                            <div class="card">
	                                <div class="card-body">
	                                    <div class="row">
	                                        <div class="col mt-0">
	                                            <h5 class="card-title">Tareas en Estado <b>"En Proceso"</b></h5>
	                                        </div>
	
	                                        <div class="col-auto">
	                                            <div class="avatar">
	                                                <div class="avatar-title rounded-circle bg-primary-dark">
	                                                   <i class="fas fa-tasks"></i>
	                                                </div>
	                                                 
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <h1 class="display-5 mt-1 mb-3" th:text="${countTareasEnProceso}"></h1>
	                                   
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
	        <div class="row">
	            <div class="col-xl-12 col-xxl-12 d-flex">
	                <div class="w-100">
	                    <div class="row">
	                        <div class="col-sm-6">
								
								<div class="card text-center">
								  <div class="card-header bg-warning text-dark">
								    Tarea Proxima a finalizar que no ha sido iniciada
								  </div>
								  
								  <div class="card-body" th:if="${tareaProximaIniciar}">
								    <h5 class="card-title" th:text="${tareaProximaIniciar.titulo}"></h5>
								    <p class="card-text" th:text = " 'Prioridad: ' + ${tareaProximaIniciar.ccPrioridad.descripcion} + ' - ' + ${tareaProximaIniciar.ccEtiqueta.descripcion} " ></p>
								    <p class="card-text" th:text="${tareaProximaIniciar.descripcion}"></p>
								    <a href="#" class="btn btn-primary">Iniciar Tarea</a>
								  </div>
								  
								  <div class="card-body" th:if="${tareaProximaIniciar == null}">
								    <p class="card-text" > Sin tarea en estado de Iniciada que se deba de tener en cuenta para colocarla en proceso.</p>
								  </div>
								  
								</div>
								
	                        </div>
	                        
	                        <div class="col-sm-6">
								<div class="card text-center">
								  <div class="card-header bg-warning text-dark">
								    Tarea Proxima a vencer en Estado <b>"En Proceso"</b>
								  </div>
								  
								  <div class="card-body" th:if="${tareaProximaVencer}">
								    <h5 class="card-title" th:text="${tareaProximaVencer.titulo}"></h5>
								    <p class="card-text" th:text = " 'Prioridad: ' + ${tareaProximaVencer.ccPrioridad.descripcion} + ' - ' + ${tareaProximaVencer.ccEtiqueta.descripcion} " ></p>
								    <p class="card-text" th:text="${tareaProximaVencer.descripcion}"></p>
								    <a href="#" class="btn btn-primary">Finalizar Tarea</a>
								  </div>
								  
								  <div class="card-body" th:if="${tareaProximaVencer == null}">
								    <p class="card-text" > Sin tarea en estado de En proceso que se deba de tener cuidado de finalizar.</p>
								  </div>
								  
								</div>
								
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
	   	</th:block>
      
 </th:block>
</body>