<nav id="sidebar" class="sidebar" xmlns:th="http://www.thymeleaf.org">
    <a class="sidebar-brand" th:href="@{/index}">
        <label>Administrador de Tareas</label>
    </a>
    <div class="sidebar-content">
        <div class="sidebar-user">
            <img th:src="@{/secUsuario/getFotoPerfil/{idUsuario}(idUsuario=${#authentication.getPrincipal().getIdUsuario()})}"  class="img-fluid rounded-circle mb-2" />
            <div class="fw-bold">Usuario: [[${#authentication.getPrincipal().getUsername()}]]</div>
            <small th:each="role : ${#authentication.getPrincipal().getRoles()}" th:text="${role}"></small>
        </div>

        <ul class="sidebar-nav" id="activitiesMenu">
        	
	          <!-- Configuraciones Admin2 -->
	         <th:block sec:authorize="hasAuthority('ADMIN')">
	         	<li class="sidebar-item active">
	                <a data-bs-target="#configuracionesAdmin" data-bs-toggle="collapse" class="sidebar-link">
	                    <i class="align-middle me-2 fas fa-cogs"></i> <span
	                        class="align-middle">Administraci&oacute;n</span>
	                </a>
	                <ul id="configuracionesAdmin" class="sidebar-dropdown list-unstyled collapse hide" data-bs-parent="#sidebar">
	                    <li class="sidebar-item" ><a class="sidebar-link" th:href="@{/ccEstado}">Estados</a></li>
	                    <li class="sidebar-item" ><a class="sidebar-link" th:href="@{/ccEtiqueta}">Etiquetas</a></li>
	                    <li class="sidebar-item" ><a class="sidebar-link" th:href="@{/ccPrioridad}">Prioridades</a></li>
	                </ul>
	            </li>
	         </th:block>
	         
	         <!-- Menu Tareas -->
	         <th:block sec:authorize="hasAnyAuthority('ADMIN','USER_TASK')">
	         	<li class="sidebar-item active">
	                <a data-bs-target="#menuTask" data-bs-toggle="collapse" class="sidebar-link">
	                    <i class="align-middle me-2 fas fa-tasks"></i> <span
	                        class="align-middle">Tareas</span>
	                </a>
	                <ul id="menuTask" class="sidebar-dropdown list-unstyled collapse hide" data-bs-parent="#sidebar">
	                	<li class="sidebar-item" ><a class="sidebar-link" th:href="@{/tareas/nuevaTarea}">Nueva Tarea</a></li>
	                    <li class="sidebar-item" ><a class="sidebar-link" th:href="@{/tareas/}">Seguimiento de Tareas</a></li>
	                    <li class="sidebar-item" ><a class="sidebar-link" th:href="@{/tareas/guia}">Guia de Tareas</a></li>
	                </ul>
	            </li>
	         </th:block>
            
        </ul>
    </div>
</nav>